.preview-imagem-atual-produto {
  display: flex;
  flex-direction: column;
}

.preview-imagem-atual-produto img {
  width: 150px;
  margin-top: 10px;
}

.btn-voltar {
  padding: 10px;
  background-color: brown;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 2rem;
}

.container-imagem-atual-produto{
  display: flex;
  align-items: center;
}

.icone-apagar-imagem-produto{
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  margin-left: 1rem;
  width: 40px;
  height: 40px;
}